= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %legend 可见性以及访问控制
    .form-group
      = f.label :default_branch_protection, class: 'control-label col-sm-2'
      .col-sm-10
        = f.select :default_branch_protection, options_for_select(Gitlab::Access.protection_options, @application_setting.default_branch_protection), {}, class: 'form-control'
    .form-group.project-visibility-level-holder
      = f.label :default_project_visibility, class: 'control-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_project_visibility, form: f, selected_level: @application_setting.default_project_visibility, form_model: Project.new)
    .form-group.project-visibility-level-holder
      = f.label :default_snippet_visibility, class: 'control-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_snippet_visibility, form: f, selected_level: @application_setting.default_snippet_visibility, form_model: ProjectSnippet.new)
    .form-group.project-visibility-level-holder
      = f.label :default_group_visibility, class: 'control-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_group_visibility, form: f, selected_level: @application_setting.default_group_visibility, form_model: Group.new)
    .form-group
      = f.label :restricted_visibility_levels, class: 'control-label col-sm-2'
      .col-sm-10
        - data_attrs = { toggle: 'buttons' }
        .btn-group{ data: data_attrs }
          - restricted_level_checkboxes('restricted-visibility-help').each do |level|
            = level
        %span.help-block#restricted-visibility-help
          选中的级别不能被非管理员用户应用于项目或者代码片段。
          如果公开级别被限制，用户资料只能对已登录用户可见。
    .form-group
      = f.label :import_sources, class: 'control-label col-sm-2'
      .col-sm-10
        - data_attrs = { toggle: 'buttons' }
        .btn-group{ data: data_attrs }
          - import_sources_checkboxes('import-sources-help').each do |source|
            = source
        %span.help-block#import-sources-help
          项目创建时能够被导入的资源。OmniAuth必须为GitHub
          = link_to "(?)", help_page_path("integration/github")
          ，Bitbucket
          = link_to "(?)", help_page_path("integration/bitbucket")
          以及 GitLab.com
          = link_to "(?)", help_page_path("integration/gitlab")
          配置好。
    .form-group
      %label.control-label.col-sm-2 Enabled Git access protocols
      .col-sm-10
        = select(:application_setting, :enabled_git_access_protocol, [['Both SSH and HTTP(S)', nil], ['Only SSH', 'ssh'], ['Only HTTP(S)', 'http']], {}, class: 'form-control')
        %span.help-block#clone-protocol-help
          只有被选中的协议才被允许访问Git。
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :version_check_enabled do
            = f.check_box :version_check_enabled
            已启用版本检查
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :email_author_in_body do
            = f.check_box :email_author_in_body
            通知邮件体中包含作者名字
          .help-block
            一些邮件服务器不支持重写邮件发送者名字。
            作为替代方案，启用这个选项以便在邮件体中包含问题的作者名字，
            合并请求或者评论。
    .form-group
      = f.label :admin_notification_email, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :admin_notification_email, class: 'form-control'
        .help-block
          如果设置了，滥用报告将被发送到这个邮件地址。滥用报告对于管理员组总是可用。

  %fieldset
    %legend 账户和限制设置
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :gravatar_enabled do
            = f.check_box :gravatar_enabled
            启用头像
    .form-group
      = f.label :default_projects_limit, class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :default_projects_limit, class: 'form-control'
    .form-group
      = f.label :max_attachment_size, '最大附件大小(MB)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :max_attachment_size, class: 'form-control'
    .form-group
      = f.label :session_expire_delay, '会话持续时间(minutes)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :session_expire_delay, class: 'form-control'
        %span.help-block#session_expire_delay_help_block 需要重启GitLab以便使改变生效
    .form-group
      = f.label :user_oauth_applications, '用户OAuth应用', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :user_oauth_applications do
            = f.check_box :user_oauth_applications
            允许用户以OAuth提供者的身份使用GitLab来注册任意应用
    .form-group
      = f.label :user_default_external, '新用户设置为外部', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :user_default_external do
            = f.check_box :user_default_external
            新注册用户默认为外部

  %fieldset
    %legend 注册限制
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :signup_enabled do
            = f.check_box :signup_enabled
            启用注册
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :send_user_confirmation_email do
            = f.check_box :send_user_confirmation_email
            注册时发送确认邮件
    .form-group
      = f.label :domain_whitelist, '用于注册的域名白名单', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_whitelist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .help-block 只有电子邮件地址匹配这些域名的用户才能够注册。允许通配符。对于多个实体，每行一个，例如：domain.com, *.domain.com
    .form-group
      = f.label :domain_blacklist_enabled, '域名黑名单', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :domain_blacklist_enabled do
            = f.check_box :domain_blacklist_enabled
            启用注册域名黑名单
    .form-group
      .col-sm-offset-2.col-sm-10
        .radio
          = label_tag :blacklist_type_file do
            = radio_button_tag :blacklist_type, :file
            .option-title
              上传黑名单文件
        .radio
          = label_tag :blacklist_type_raw do
            = radio_button_tag :blacklist_type, :raw, @application_setting.domain_blacklist.present? || @application_setting.domain_blacklist.blank?
            .option-title
              手动输入黑名单
    .form-group.blacklist-file
      = f.label :domain_blacklist_file, '黑名单文件', class: 'control-label col-sm-2'
      .col-sm-10
        = f.file_field :domain_blacklist_file, class: 'form-control', accept: '.txt,.conf'
        .help-block 电子邮件地址匹配这些域名的用户将不能够注册。允许使用通配符。对于多个实体可以使用换行或者逗号分隔。
    .form-group.blacklist-raw
      = f.label :domain_blacklist, '用于注册的域名黑名单', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_blacklist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .help-block 电子邮件地址匹配这些域名的用户将不能够注册。允许使用通配符。对于多个实体，每行一个，例如：domain.com, *.domain.com

    .form-group
      = f.label :after_sign_up_text, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :after_sign_up_text, class: 'form-control', rows: 4
        .help-block 启用标记语言

  %fieldset
    %legend 登录限制
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :signin_enabled do
            = f.check_box :signin_enabled
            启用登录
    - if omniauth_enabled? && button_based_providers.any?
      .form-group
        = f.label :enabled_oauth_sign_in_sources, '启用OAuth登录源', class: 'control-label col-sm-2'
        .col-sm-10
          .btn-group{ data: { toggle: 'buttons' } }
            - oauth_providers_checkboxes.each do |source|
              = source
    .form-group
      = f.label :two_factor_authentication, '两步认证', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :require_two_factor_authentication do
            = f.check_box :require_two_factor_authentication
            需要所有用户设置两步认证
    .form-group
      = f.label :two_factor_authentication, '两步认证宽限期(小时)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :two_factor_grace_period, min: 0, class: 'form-control', placeholder: '0'
        .help-block 允许用户跳过两步认证配置的宽限期(小时)
    .form-group
      = f.label :home_page_url, '主页URL', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :home_page_url, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'home_help_block'
        %span.help-block#home_help_block 非登录用户将被重定向到该页面
    .form-group
      = f.label :after_sign_out_path, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :after_sign_out_path, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'after_sign_out_path_help_block'
        %span.help-block#after_sign_out_path_help_block 用户登出之后将被重定向到该页面
    .form-group
      = f.label :sign_in_text, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :sign_in_text, class: 'form-control', rows: 4
        .help-block 启用标记语言
    .form-group
      = f.label :help_page_text, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :help_page_text, class: 'form-control', rows: 4
        .help-block 启用标记语言

  %fieldset
    %legend 持续集成
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :shared_runners_enabled do
            = f.check_box :shared_runners_enabled
            为新项目启用共享运行器
    .form-group
      = f.label :shared_runners_text, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :shared_runners_text, class: 'form-control', rows: 4
        .help-block 启用标记语言
    .form-group
      = f.label :max_artifacts_size, '最大构件大小(MB)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :max_artifacts_size, class: 'form-control'
        .help-block
          设置每次构建的构件所允许的最大文件大小
          = link_to "(?)", help_page_path("user/admin_area/settings/continuous_integration", anchor: "maximum-artifacts-size")

  - if Gitlab.config.registry.enabled
    %fieldset
      %legend 容器注册
      .form-group
        = f.label :container_registry_token_expire_delay, '认证令牌持续时间(分钟)', class: 'control-label col-sm-2'
        .col-sm-10
          = f.number_field :container_registry_token_expire_delay, class: 'form-control'

  %fieldset
    %legend 指标
    %p
      本设置需要重启以便生效。
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :metrics_enabled do
            = f.check_box :metrics_enabled
            启用InfluxDB指标
    .form-group
      = f.label :metrics_host, 'InfluxDB主机', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :metrics_host, class: 'form-control', placeholder: 'influxdb.example.com'
    .form-group
      = f.label :metrics_port, 'InfluxDB端口', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :metrics_port, class: 'form-control', placeholder: '8089'
        .help-block
          UDP端口用于连接InfluxDB。InfluxDB需要你的服务器配置一个指定的数据库来存储
          发送到这个端口上的消息，如果没有配置，指标数据将不会被存储。
    .form-group
      = f.label :metrics_pool_size, '连接池大小', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :metrics_pool_size, class: 'form-control'
        .help-block
          打开的InfluxDB连接数。连接以懒惰模式打开。
          使用多线程应用服务器的用户需要确保有足够的连接数可用(最小值为应用服务器线程数)。
    .form-group
      = f.label :metrics_timeout, '连接超时', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :metrics_timeout, class: 'form-control'
        .help-block
          一个InfluxDB连接将要超时的秒数。
    .form-group
      = f.label :metrics_method_call_threshold, '方法调用的阈值(毫秒)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :metrics_method_call_threshold, class: 'form-control'
        .help-block
          只有当一个方法调用完成所消耗的时间超过指定的毫秒数的时候才会被跟踪。
    .form-group
      = f.label :metrics_sample_interval, '采样间隔(秒)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :metrics_sample_interval, class: 'form-control'
        .help-block
          采样间隔以秒为单位。采样数据包含了内存使用，保存的Ruby对象，文件描述符等。
    .form-group
      = f.label :metrics_packet_size, '每个包的指标', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :metrics_packet_size, class: 'form-control'
        .help-block
          保存到每个UDP包中的分数。更多的分数导致被发送的UDP包的数目变小但是体积变大。

  %fieldset
    %legend 垃圾邮件以及僵尸网络防护
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :recaptcha_enabled do
            = f.check_box :recaptcha_enabled
            启用reCAPTCHA
          %span.help-block#recaptcha_help_block 帮助防护僵尸网络创建账户

    .form-group
      = f.label :recaptcha_site_key, 'reCAPTCHA页面的密钥', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_site_key, class: 'form-control'
        .help-block
          在
          %a{ href: 'http://www.google.com/recaptcha', target: 'blank'} http://www.google.com/recaptcha
          生成页面和私有密钥

    .form-group
      = f.label :recaptcha_private_key, 'reCAPTCHA私有密钥', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_private_key, class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :akismet_enabled do
            = f.check_box :akismet_enabled
            启用Akismet
          %span.help-block#akismet_help_block 帮助防护僵尸网络创建问题

    .form-group
      = f.label :akismet_api_key, 'Akismet API密钥', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :akismet_api_key, class: 'form-control'
        .help-block
          在
          %a{ href: 'http://www.akismet.com', target: 'blank'} http://www.akismet.com
          生成API密钥

  %fieldset
    %legend 错误报告和日志
    %p
      这些设置需要重启以便生效。
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :sentry_enabled do
            = f.check_box :sentry_enabled
            启用Sentry
          .help-block
            Sentry是一个错误报告和日志工具，该工具并没有集成到GitLab中，从如下链接获取：
            %a{ href: 'https://getsentry.com', target: '_blank' } https://getsentry.com

    .form-group
      = f.label :sentry_dsn, 'Sentry DSN', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :sentry_dsn, class: 'form-control'

  %fieldset
    %legend 仓库存储
    .form-group
      = f.label :repository_storage, '新项目的存储路径', class: 'control-label col-sm-2'
      .col-sm-10
        = f.select :repository_storage, repository_storage_options_for_select, {}, class: 'form-control'
        .help-block
          管理仓库的存储路径。更多请访问
          = succeed "." do
            = link_to "repository storages documentation", help_page_path("administration/repository_storages")

  %fieldset
    %legend 仓库检查
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :repository_checks_enabled do
            = f.check_box :repository_checks_enabled
            启用仓库检查
          .help-block
            GitLab将在所有项目和wiki仓库中周期性运行
            %a{ href: 'https://www.kernel.org/pub/software/scm/git/docs/git-fsck.html', target: 'blank' } 'git fsck'
            以便找出暗藏的磁盘问题。
    .form-group
      .col-sm-offset-2.col-sm-10
        = link_to '清空所有的仓库检查', clear_repository_check_states_admin_application_settings_path, data: { confirm: '这将为数据库中的所有项目清空仓库检查状态。这种操作无法恢复。你确定要清空吗？' }, method: :put, class: "btn btn-sm btn-remove"
        .help-block
          在仓库检查时如果你收到很多错误警告，你可以选择从数据库中清空所有仓库检查信息。


  .form-actions
    = f.submit '保存', class: 'btn btn-save'
