#{@abuse_report.user.name} (@#{@abuse_report.user.username}) 被 #{@abuse_report.reporter.name} (@#{@abuse_report.reporter.username}) 举报滥用。
\
> #{@abuse_report.message}
\
查看详细信息: #{admin_abuse_reports_url}
