= form_for @appearance, url: admin_appearances_path, html: { class: 'form-horizontal'} do |f|
  = form_errors(@appearance)

  %fieldset.sign-in
    %legend
      登录/登出 页面:
  .form-group
    = f.label :title, class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description, class: 'control-label'
    .col-sm-10
      = f.text_area :description, class: "form-control", rows: 10
      .hint
        Description parsed with #{link_to "GitLab 风格的标记语言", help_page_path('markdown/markdown'), target: '_blank'}.
  .form-group
    = f.label :logo, class: 'control-label'
    .col-sm-10
      - if @appearance.logo?
        = image_tag @appearance.logo_url, class: 'appearance-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to '删除 logo', logo_admin_appearances_path, data: { confirm: "Logo 将被删除。你确定吗？"}, method: :delete, class: "btn btn-remove btn-small remove-logo"
        %hr
      = f.hidden_field :logo_cache
      = f.file_field :logo, class: ""
      .hint
        文件最大为1MB。页面将被优化为 640x360 像素的logo。

  %fieldset.app_logo
    %legend
      导航栏:
  .form-group
    = f.label :header_logo, '头logo', class: 'control-label'
    .col-sm-10
      - if @appearance.header_logo?
        = image_tag @appearance.header_logo_url, class: 'appearance-light-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to '删除头logo', header_logos_admin_appearances_path, data: { confirm: "头logo将被删除。你确定吗？"}, method: :delete, class: "btn btn-remove btn-small remove-logo"
        %hr
      = f.hidden_field :header_logo_cache
      = f.file_field :header_logo, class: ""
      .hint
        文件最大为1MB。页面将被优化为 72x72 像素的头logo。

  .form-actions
    = f.submit '保存', class: 'btn btn-save append-right-10'
    - if @appearance.persisted?
      = link_to '前面最后一次保存', preview_admin_appearances_path, class: 'btn', target: '_blank'

    - if @appearance.updated_at
      %span.pull-right
        最后就编辑 #{time_ago_with_tooltip(@appearance.updated_at)}
